body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container{
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

.login-container h2{
    margin-bottom: 20px;
    color: #333;
}

.login-container input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.login-container input:focus{
    border-color: #ff5e62;
}

.login-container button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover{
    background: #e14b50;
}