body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f0d0c7;
}

/* HEADER */
#header{
    background:#000000;
    color:white;
    padding:25px 40px;
}

/* LAYOUT GENERAL */
.layout{
    display:flex;
    max-width:1200px;
    margin:auto;
}

/* SIDEBAR */
#sidebar{
    width:200px;
    background:#d9d9d9;
    padding:20px;
    min-height:600px;
}

/* MENU */
#sidebar ul{
    list-style:none;
    padding:0;
}

#sidebar li{
    margin:12px 0;
}

#sidebar a{
    text-decoration:none;
    color:#1b0101;
    font-weight:bold;
}

/* CONTENIDO */
.contenido{
    flex:1;
    padding:40px;
}

/* PRODUCTOS */
.productos{
    margin-top:40px;
}

.productos h2{
    margin-bottom:25px;
}

.productos-container{
    display:flex;
    gap:25px;
}

.producto{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 6px 15px rgba(0,0,0,0.15);
    flex:1;
}

.producto h3{
    margin-top:0;
}

.precio{
    display:block;
    margin-top:10px;
    font-weight:bold;
    color:#b22222;
}

/* FOOTER */
#footer{
    background:#222;
    color:white;
    text-align:center;
    padding:18px;
    margin-top:40px;
}
.producto-img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:10px;
}
.producto-img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}