body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}


.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #b22222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-container button:hover {
    background: #8b1a1a;
}


#header{
    background:#000000;
    color:white;
    padding:25px 40px;
}


.layout{
    display:flex;
    max-width:1900px;
    margin:auto;
}


.navbar {
    width: 90%;
    height: auto;
    background-color: #131318;
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-shadow: 2px 0 10px rgba(0,0,0,0.2);
}



.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}


.menu li {
    width: 100%;
}


.menu a {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    padding: 14px 18px;
    margin-bottom: 10px;

    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;

    background: rgba(255,255,255,0.05);

    transition: all 0.3s ease;
}


.menu a:hover {
    background: #f39c12;
    color: #2c3e50;
    transform: translateX(8px);
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}


.contenido{
    flex:1;
    padding:20px; 
}



.hero-bg-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2; 
    
}


.layout-hero {
    display: grid;
    grid-template-columns: 200px 1fr; 
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    gap: 0; 
}




#sidebar-hero .navbar {
    background-color: transparent; 
    box-shadow: none; 
    padding: 0;
}

#sidebar-hero .menu a {
    background: rgba(255,255,255,0.1); 
    color: white;
}

#sidebar-hero .menu a:hover {
    background: #f39c12;
    color: #2c3e50;
    transform: translateX(8px);
}


.hero-content {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 0; /
}


.hero-texto-wrapper {
   
    max-width: 1200px; 
    
    width: 100%; 
    
    padding: 20px 0;
    background: transparent;
    display: block; 
}

.hero-texto-wrapper h1 {
    font-size: 56px; 
    font-weight: bold;
    color: #f5f5f5;
    margin-bottom: 10px;
    
   
    white-space: nowrap; 
}

.hero-texto-wrapper p {
    font-size: 20px;
    line-height: 1.5;
    color: #f5f5f5;
    
    
    display: block; 
    
   
    width: 100vw; 
    max-width: 1000px; 
    
    
    white-space: normal; 
    text-align: left;
    
    
    margin-left: 0;
    padding-left: 0;
}

.hero-full-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%; 
    height: 80%;
   
    background: linear-gradient(to right, 
        rgba(30, 30, 30, 0.8) 0%, 
        rgba(30, 30, 30, 0.4) 50%, 
        rgba(30, 30, 30, 0) 100%);
    z-index: -1; 
    pointer-events: none; 
}


#sidebar {
    width: 220px;
    min-height: auto; 
    display: flex;
    justify-content: center;
    margin-left: -10px; 
}

.navbar {
    width: 100%; 
    background-color: transparent; 
    box-shadow: none; 
}

.menu a {
    background: rgba(255,255,255,0.1); 
    color: white; 
}


.menu a:hover {
    background: #f39c12;
    color: #2c3e50;
    transform: translateX(8px);
}


.productos{
    margin-top:20px; 
}

.productos h2{
    margin-bottom:25px;
}

.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
    width: 100%;
}

.producto{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 6px 15px rgba(0,0,0,0.15);
}

.producto h3{
    margin-top:0;
}

.precio{
    display:block;
    margin-top:10px;
    font-weight:bold;
    color:#b22222;
}

.producto-img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:10px;
}


#footer{
    background:#222;
    color:white;
    text-align:center;
    padding:18px;
    margin-top:40px;
}
#sidebar {
    width: 220px;
    min-height: 100vh;
}